'scopeName': 'source.l20n'
'name': 'L20n'
'fileTypes': [
  'l20n'
]
'patterns': [
  {
    'name': 'comment.block'
    'begin': '/\\*'
    'end': '\\*/'
  }
  {
    'name': 'punctuation.definition.tag'
    'begin': '<(\\w+)'
    'end': '>'
    'captures':
      1: 'name': 'support.class'
    'patterns': [
      {
        'include': '#strings'
      }
      {
        'include': '#dictionaries'
      }
    ]
  }
]
'repository':
  'strings':
    'patterns': [
      {
        'name': 'string.quoted.triple'
        'begin': '"""'
        'end': '"""'
        'patterns': [
          {
            'include': '#interpolation'
          }
        ]
      }
      {
        'name': 'string.quoted.double'
        'begin': '"'
        'end': '"'
        'patterns': [
          {
            'include': '#interpolation'
          }
        ]
      }
      {
        'name': 'string.quoted.single'
        'begin': '\''
        'end': '\''
        'patterns': [
          {
            'include': '#interpolation'
          }
        ]
      }
    ]
  'interpolation':
    'patterns': [
      {
        'name': 'string.regexp'
        'begin': '({{)'
        'end': '(}})'
        'captures':
          1: 'name': 'meta.tag'
        'patterns': [
          {
            'name': 'variable'
            'match': '\\$[\\w|\\.]+'
          }
        ]
      }
    ]
  'dictionaries':
    'patterns': [
      {
        'begin': '([^{]{[^}])'
        'end': '(})'
        'beginCaptures':
          1: 'name': 'meta.tag'
        'endCaptures':
          1: 'name': 'meta.tag'
        'patterns': [
          {
            'include': '#strings'
          }
          {
            'name': 'dictionary.kv'
            'begin': '(\\*+\\w+)|([^*]\\w+):'
            'end': '\\n'
            'captures':
              1: 'name': 'punctuation.definition.bold'
              2: 'name': 'meta.tag'
            'patterns': [
              {
                'include': '#strings'
              }
              {
                'include': '$self'
              }
            ]
          }
        ]
      }
    ]
